/* 基本 reset */
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  background: #F2F3F5;
}

/* 全域字體與顏色 */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* 強制 light mode */
  color-scheme: light;

  color: #111;
  background-color: #F2F3F5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-width: 320px;
  min-height: 100vh;
  color: #111;
  background: #F2F3F5;
}

/* 連結 */
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: none;
}

/* 按鈕基礎樣式 */
button {
  border-radius: 8px;
  border: 1px solid #ddd;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #fff;
  cursor: pointer;
  transition: border-color 0.25s;
}

/* hover */
button:hover {
  border-color: #bbb;
}

.icon-btn {
  padding:6px;
  border-radius:8px;
}

.icon-btn:hover {
  background:#f3f3f3;
}

/* 移除瀏覽器 focus 藍框 */
button:focus,
button:focus-visible {
  outline: none;
  box-shadow: none;
}

/* 圖片不超出容器 */
img {
  max-width: 100%;
  display: block;
}

/* Vue root */
#app {
  width: 100%;
}